

<div>
    <div class="card c1">
        <div class="card-header filas2 ">
            <h1>Has llegado al final del juego, la puntuación de la partida por frases es:</h1>
        </div>
    </div>
    <div class="col-md-4 mx-auto margen">
        <ul class="list-group">
        {{!-- <li><h6>Frases del tema</h6>></li>
            <li class = "list-group-item">Hola</li>
            {{#each tema}}
                    {{content}}
            {{/each}}
            --}}
            <li class = "list-group-item c1">Número de la partida: 83</li>
            <li class = "list-group-item c3">Imagen1, tu respuesta fue: No hay muchos coches en la carretera, puntuación obtenida: 99</li>
            <li class = "list-group-item c3">Imagen2, tu respuesta fue: que buen día hace, puntuación obtenida: 97</li>
            <li class = "list-group-item c3">Imagen3, tu respuesta fue: foto de Albacete capital, puntuación obtenida: 92</li>
            <li class = "list-group-item c3">Imagen4, tu respuesta fue: bonito perro, puntuación obtenida: 98</li>
            <li class = "list-group-item c1"><h6>Puntuación media de la partida: 96</h6></li>
        </ul>
    </div>
</div>