<div class="contianer p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div clas ="card-body">
                    <form action="/links/frase" method="POST">
                        <h1>Hay 99% de posibilidad de lluvia</h1>
                        <div class="form-group">
                            <input type="text" class="form-control" name="frase" placeholder="Respuesta" autofocus>
                        <div class="form-group">
                            <button class= "btn btn-success btn-block">
                                Enviar respuesta
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


