<div class="contianer p-4 bg-info" >
    <h1>  Selecciona un modo de juego </h1> 
   <form action="/links/game1" method="GET">
        <div class="form-group">
            <label>
            </label>
        </div>
        <button type="submit" class="btn btn-dark">Solo texto </button>
   </form>

    <form action="/links/game2" method="GET">
        <div class="form-group">
            <label>
            </label>
        </div>
        <button type="submit" class="btn btn-dark">Texto e imágenes </button>
    </form>
</div>