<div class="contianer p-4" >
    <div class="card c1">
        <div class="card-header filas2 ">
            <h1 class="centro">  Selecciona un modo de juego </h1> 
        </div>     
    </div>
    <div class="col-md-4 mx-auto margen"> 
        <div class="card c1"> 
                <form action="/links/game1" method="GET">
                        <div class="form-group">
                            <label>
                            </label>
                        </div>
                        <button type="submit" class="btn c3 w-100 margen2 negrita">Solo texto </button>
                </form>

                <form action="/links/game2" method="GET">
                    <div class="form-group">
                        <label>
                        </label>
                    </div>
                    <button type="submit" class="btn c3 w-100 margen2 negrita">Imágenes </button>
                </form>

                <form action="/links/games" method="GET">
                    <div class="form-group">
                        <label>
                        </label>
                    </div>
                    <button type="submit" class="btn c3 w-100 margen2 negrita">Top puntuaciones </button>
                </form>
        </div>
    </div>
</div>