<div class="card c1 negrita">
            <div class="card-header filas2 ">
                <h3 class="centro">Introduce una respuesta a la imagen lo m치s ir칩nica posible</h3>
            </div>
 </div>
 <div class="centrarimg" >
    <img class="centrarimg cetrar2" src="https://images.pexels.com/photos/7566890/pexels-photo-7566890.jpeg?cs=srgb&dl=pexels-oziel-g%C3%B3mez-7566890.jpg&fm=jpg">    
 </div>
<form action="/links/siguienteimg3" method="POST">
    <div class="form-group">
        {{!-- <input type="hidden" name="num_partida" value={{num_partida}} /> --}}
   {{!--  {{#each contenido}}--}}
        <div class="container p-4">
       {{!--     <div class="form-group">
                <input type="hidden" name="topic_sentence_number" value={{topic_sentence_number}} />
                <input type="hidden" name="topic_id" value={{topic_id}} />   
            </div>--}}

            <div class="form-group">
                <input type="text" class="form-control" name="respuesta" placeholder="Introduce la respuesta m치s ir칩nica" autofocus>
            </div>

            <div class="form-group">
                <button class= "btn c3 btn-block btn-block w-100 negrita">
                    Siguiente imagen
                </button>
            </div>
        </div>
         
    {{!-- {{/each}}--}}
</form>