

<div class="contianer p-4 bg-info" >
    <h1>  Bienvenido, selecciona una de las siguientes opciones  </h1> 
   <form action="/links/add" method="GET">
        <div class="form-group">
            <label>
            </label>
        </div>
        <button type="submit" class="btn btn-dark">Registrarse </button>
   </form>

    <form action="/links/login" method="GET">
        <div class="form-group">
            <label>
            </label>
        </div>
        <button type="submit" class="btn btn-dark">Entrar </button>
    </form>
</div>