 <div class="card c1">
            <div class="card-header filas2 ">
                <h3 class="centro negrita">Introduce una respuesta a la frase lo m치s ir칩nica posible</h3>
            </div>
 </div>
<form action="/links/siguiente" method="POST">
    <div class="form-group">
        <input type="hidden" name="num_partida" value={{num_partida}} />
    {{#each contenido}}
        <div class="container p-4">
            <div class="row" id="frase" name="frase">
            
                <h6>
                     <div class="card c1">
                        <div class="card-header">
                            <span class="label negrita">   {{content}}   </span>
                        </div>
                     </div>
                </h6>

            </div>
                    
            <div class="form-group">
                <input type="hidden" name="topic_sentence_number" value={{topic_sentence_number}} />
                <input type="hidden" name="topic_id" value={{topic_id}} />   
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="respuesta" placeholder="Introduce la respuesta m치s ir칩nica" autofocus>
            </div>

            <div class="form-group">
                <button class= "btn c3 btn-block btn-block w-100 negrita">
                    Siguiente frase
                </button>
            </div>

        </div>
     {{/each}}
</form>