<form action="/links/tiempo" method="POST">
    <div class="container p-4">
        <div class="card c1">
            <div class="card-header filas2 ">
                <h1 class="centro">Selecciona un tema</h1>
            </div>
        </div>
        {{!--{{#each topics}}
                
        
       <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" name="flexRadioDefault2"+ {{this.name}} for="flexRadioDefault1"> 
                {{this.name}}
             </label>
        </div>

        {{!-- Google fonts 
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
               {{name}}
            </label>
        </div>
        
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
            <label class="form-check-label" for="flexRadioDefault3">
                {{name}}
            </label>
        </div>
        
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
            <label class="form-check-label" for="flexRadioDefault4">
                Tema 4
            </label>
        </div>
        
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" checked>
            <label class="form-check-label" for="flexRadioDefault5">
                Tema 5
            </label>
        </div>
        
        {{/each}}
        <button class= "btn btn-success btn-block">
            Seleccionar tema
        </button>
        
        <div class="form-group">
            <button class= "btn btn-success btn-block">
                Crear usuario
            </button>
        </div>
    </div>
     --}}
</form>
<div class="container p-4">
    <div class="col-md-4 mx-auto margen">
        <div class="card c1">

            <form action="/links/tiempo" method="POST">
                <button class= "btn c3 btn-block w-100 margen2 margenarriba negrita">
                    Tiempo
                </button>
            </form>
            <form action="/links/colores" method="POST">
                <button class= "btn c3 btn-block w-100 margen2 margenarriba negrita">
                    Colores
                </button>
            </form>
            <form action="/links/situaciones" method="POST">
                <button class= "btn c3 btn-block w-100 margen2 margenarriba negrita">
                    Situaciones
                </button>
            </form>

            <form action="/links/deporte" method="POST">
                <button class= "btn c3 btn-block w-100 margen2 margenarriba negrita">
                    Deporte
                </button>
            </form>

            <form action="/links/politica" method="POST">
                <button class= "btn c3 btn-block w-100 margen2 margenarriba negrita">
                    Política
                </button>
            </form>

            <form action="/links/gaming" method="POST">
                <button class= "btn c3 btn-block w-100 margen2 margenarriba negrita">
                    Gaming
                </button>
            </form>

            <form action="/links/serie" method="POST">
                <button class= "btn c3 btn-block w-100 margen2 margenarriba negrita">
                    Series
                </button>
            </form>

        </div>
    </div>
</div>
